.seasonWinter {
  height: 100px;
  width: 100px;
  background: blue;
}
.seasonSummer {
  height: 100px;
  width: 100px;
  background: yellow;
}
.seasonCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 50vw;
}
